.addFriendsDisplay{
    background: white;
    width: 500px;
    max-height: 400px;
    border-radius: var(--general-border-radius);
    box-shadow: 0px 0px 69px 15px #00000012;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    overflow-y: visible;
    padding-top: 5px;
    padding-bottom: 5px;
}
.addFriendsDisplay > .superiorAddFriendsDisplayBar{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -60px;
    background: white;
    box-shadow: 0px 0px 8px 0px #0000000d;
    border-radius: var(--general-border-radius);
}
.addFriendsDisplay > .superiorAddFriendsDisplayBar > input{
    border: none;
    display: block;
    width: 100%;
    font-size: 17px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.addFriendsDisplay > .superiorAddFriendsDisplayBar > button{
    border: none;
    border-radius: none;
    background: transparent;
    cursor: pointer;
    transition: 0s;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.addFriendsDisplay > .superiorAddFriendsDisplayBar > button:hover{
    filter: var(--btn-hover-filter);
}
.addFriendsDisplay > .superiorAddFriendsDisplayBar > button > img{
    width: 25px;
}
.addFriendsDisplayFound{
    display: flex;
    align-items: center;
    padding: 9px;
    padding-left: 12px;
    padding-right: 12px;
    text-transform: uppercase;
}
.addFriendsDisplayFound > button{
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: var(--principal-color);
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}
.addFriendsDisplayFound > button:hover{
    background: var(--btn-hover-bg-principal-color);
}
.addFriendsDisplayFound > button > img{
    width: 25px;
    filter: invert(1)
}
.addFriendsDisplayFoundMail{
    font-size: 13px;
    opacity: 0.8;
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.addFriendsDisplayFoundMail::before{
    content: '';
    display: block;
    background: #b6b6b6;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin-right: 5px;
}