.superiorBar{
    display: block;
    position: sticky;
    top: 0;
    padding: 10px;
    padding-left: 12px;
    padding-right: 13px;
    align-items: center;
}
.superiorBar > h1{
    font-size: 17px;
    display: inline;
}
#home > .superiorBar > button{
    width: 20px;
    background: transparent;
    border: none;
    border-radius: 50%;
    float: right;
    margin-right: 10px
}
#home > .superiorBar > button > img{
    width: 20px;
    cursor: pointer;
    image-rendering: -webkit-optimize-contrast;
}
#home > .superiorBar > button:hover > img{
    transform: scale(1.05) 
}
#home > .superiorBar > button:active > img{
    transform: scale(0.95) 
}