.messagingUserItem{
    padding: 14px;
    cursor: pointer;
    background: white;
}
.messagingUserItemSelect{
    background-color: #dfdfdf;
}
.messagingUserItem:hover{
    filter: brightness(0.9)
}
.user-message-err{
    color: grey
}
.user-message-err:hover{
    filter: brightness(1);
    cursor: default;
}