.messagesBoxDisplay{
    display: block;
    width: calc(100% - 200px);
    height: 100vh;
    position: absolute;
    background-color: white;
    top: 0;
}
.messagesBoxDisplay > .superiorBar{
    top: 0;
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: center;
    padding: 5px;
}
.messagesBoxDisplay > .superiorBar > button{
    font-weight: bold;
    font-size: 27px;
    border: none;
    text-align: center;
    background: transparent;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}
.messagesBoxDisplay > .superiorBar > button > img{
    width: 23px
}
.messagesBoxDisplay > .superiorBar > h1 {
    display: block;
    text-align: center;
    margin-left: -50px;
}
@keyframes openDisplay{
    0%{left: 100%}
    100%{left: 200px}
}
@keyframes closeDisplay{
    0%{left: 200px}
    100%{left: 100%}
}