.messagingBox{
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: calc(50% - 175px);
    align-items: center;
}
.messagingBox > h1{
    text-align: center;
    text-shadow: 0 0 20px #0000001a;
    color: #cddef7;
    cursor: default;
    user-select: none;
    position: absolute;
    margin-top: -50px;
    width: 350px;
}