.messagingTextFieldBox{
    bottom: 18px;
    display: grid;
    grid-template-columns: 1fr 68px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
    position: sticky;
    bottom: 0
}
.messagingTextFieldBox > input{
    border: none;
    background: #f3f3f3;
    font-size: 24px;
    padding: 10px;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 16px;
    outline: none;
}
.messagingTextFieldBox > button{
    border: none;
    background: #f3f3f3;
    align-items: center;
    cursor: pointer;
    filter: none;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 16px;
    padding-left: 13px;
}
.messagingTextFieldBox > button > img{
    width: 57px;
}
.messagingTextFieldBox > button:hover{
    transition: 0s;
    filter: brightness(0.9);
}
.messagingTextFieldBox > button:active{
    filter: brightness(0.94);
}