.msg{
    display: table;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.msg > .msg-txt{
    color: white;
    padding: 7px;
    font-size: 19px;
    border-radius: 6.7px;
    min-height: 25px;
    max-width: 600px;
}
.msg > .msg-txt-he{
    background-color: black;
}
.msg-txt-me{
    background: var(--principal-color);
}
.msg > .msg-date{
    margin-top: -15px;
    opacity: 0.7;
}
.msg-me{
    margin-left: auto;
    margin-right: 30px;
}
.msg-me > .msg-date{
    float: right;
    margin-right: 4px;
}
.msg-he > .msg-date{
    float: left;
    margin-left: 4px;
}
.msg > .msg-txt-he {
    margin-top: -8.75px;
}
.msg > .msg-txt-me {
    margin-top: 1px;
}
.msg-user-name{
    opacity: 0.7;
    margin-bottom: 12px;
    font-size: 15px;
    display: flex; 
    align-items: center;
    margin-left: 2.5px;
}