.newChatAddDisplay{
    width: 200px;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    top: 45px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: white;
    box-shadow: var(--general-box-shadow);
    border-radius: var(--general-border-radius)
}
.newChatAddDisplay > div {
    display: flex;
    padding: 8px;
    padding-right: 7px;
    padding-left: 7px;
    align-items: center;
}
.newChatAddDisplay > div > button{
    width: 25px;
    height: 25px;
    background: var(--principal-color);
    border: none;
    width: 35px;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 4px
}
.newChatAddDisplay > div > button > img{
    width: 50%;
    filter: grayscale(1) brightness(2)
}
.newChatAddDisplay > h1 {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    color: var(--principal-color);
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--principal-color)
}