.signInUp{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 20px 11px #d9d9d942, 0px 0px 8px 1px #f1f1f1;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 20px;
}
.signInUp > div:first-child{
    margin-top: 15px;
}
.signInUp > div{
    margin-top: 35px;
    margin-bottom: 12px;
    width: 96%;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-gap: 10px;
    grid-row-gap: 0;
}
.signInUp > div > input{
    border: none;
    border-radius: 4px;
    outline: none;
    background: #ededed70;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 15px;
    backdrop-filter: blur(3px);
}
.signInUp > .btn-submit{
    margin-right: auto;
    margin-left: 20px;
    margin-top: 15px;
    border: none;
    border-radius: 5px; 
    background: black;
    color: white;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}
.errText{
    color: #ff8100;
    width: auto;
    grid-column-end: 3;
}
.switchLog{
    color: black;
    text-decoration: none;
}